<html>
<head>
    <title>Search</title>
</head>
<body>
    {% if errors %}
        <ul>
            errors            
        </ul>
    {% endif %}
    
    <form action="/search/" method="get">
        <p> Cuisine: <input type="text" name="Cuisine"</p>
        <p> Menu Item: <input type="text" name="Menu_item"</p>
        <p> Address: <input type="text" name="Address"</p>
        <p> Where to eat: </p>
            <input type="checkbox" name="Restaurants" value="Restaurants" checked> Restaurants<br>
            <input type="checkbox" name="Food_trucks" value ="Food_trucks" checked> Food Trucks <br> 
            <input type="checkbox" name="Dining_hall" value="Dining_hall" checked> Dining Hall<br> 
        <p> Other Parameters </p>
        <input type="checkbox" name="inspection" Value=True> Failed Recent Inspection?<br>
        <p> Max Walkking Time: <input type="text" name="walk_time"</p>

        <input type="submit" value="Search">
    </form>
</body>
</html>